<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jobtimer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OverviewJobsActivity"></activity>
        <activity android:name=".CreateNewJobActivity" />
        <activity android:name=".SingleJobUseActivity" />
        <activity android:name=".TimingsActivity" />
        <activity android:name=".RoomNewJobActivity" />
        <activity android:name=".TimingsJob" />
        <activity android:name=".JobRunning" />
        <activity
            android:name=".SingleJob"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".JobsOverview" />
        <activity android:name=".NewJob" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>